{% extends "accounts/base.html" %}
{% load static %}
{% block title %}
Access Denied | Social Media App
{% endblock title %}
{% block content %}
<style>
    body{
        background: rgb(250,112,112);
background: radial-gradient(circle, rgba(250,112,112,1) 0%, rgba(186,23,23,1) 94%);
    }
</style>
<div class="container mt-5 danger">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-8">
            <div class="card p-4 border-radius-10">
                <div class="row">
                    <div class="col-md-12">
                        <h3>Access Denied!</h3>
                        <div class="card-body">
                            <p>You are not authorized to access this page.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content%}