{% extends "accounts/base.html" %}
{% load static %}
{% block title %}
Password Sent | Social Media App
{% endblock title %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-8">
            <div class="card p-4 border-radius-10">
                <div class="row">
                    <div class="col-md-12">
                        <h3>Password Sent</h3>
                        <p>
                            We've emailed you the instructions for setting up the new password.
                            If you have'nt received our mail, do check that you have entered the corect
                            email address and check your spam folder as well.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}